{% if site.related_posts.size > 1 %}
<article class="archives">
  <div class="related-posts">
		{% for post in site.related_posts limit:site.recent_posts %}
    <h3 class="title">
			<a href="{{ root_url }}{{ post.url }}">
				{{post.title}}
			</a>
		</h3>
		{% endfor %}
  </div>
</article>
{% endif %}

<section>
  <ul id="categories" class="nav nav-list">
 		{% for post in site.related_posts limit:5 %}
		<li class="nav-header">Related Posts LSI</li>
	  	<a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
	  </li>
  	{% endfor %}
  </ul>
</section>
