<section class="well">
  <ul class="nav nav-list">
    <li class="nav-header">Table of Contents</li>
    <li class="divider"></li>
    <li class="nav-header">Front Matter</li>
    <li><a href="{{ root_url }}/articles/foreword">Foreword</a></li>
    <li><a href="{{ root_url }}/articles/preface">Preface</a></li>
    <li><a href="{{ root_url }}/articles/introduction">Introduction</a></li>
    <li class="divider"></li>
    <li class="nav-header">Food and Drink</li>
    <li><a href="{{ root_url }}/articles/cracker-jack">Cracker Jack</a></li>
    <li class="divider"></li>
    <li class="nav-header">Back Matter</li>
    <li><a href="{{ root_url }}/tags/author">Author</a></li>
    <li><a href="{{ root_url }}/articles/colophon">Colophon</a></li>
    <li><a href="{{ root_url }}/pages/contact">Contact</a></li>
    <li><a href="{{ root_url }}/articles/copyright">Copyright</a></li>
    <li class="divider"></li>
  </ul>
</section>
