// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
	padding-top: 70px;
	background: #FDFDFD;
}

.banner { 
	padding-bottom: 1em;
	}
	
.pagination { 
	padding-bottom: 3em;
	}

/* Typography ============================================= */
/* First line of introduction */
.small-date {
	font-size: .8em;
	font-variant: small-caps;
}

.first-line {
	font-size: 1.2em;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: .12em;
}

/* Last part of introduction */
.last-line {
	font-size: 1.0em;
	font-variant: normal;
}

/* book of jack title is bolded with <strong> tag */
strong {
	color: #660000;
}

.accent {
	font-size: 1.5em;
	font-variant: small-caps;
	color: #660000;
}

.article-title {
	font-size: 1.2em;
	font-variant: small-caps;
	letter-spacing: .12em;
	color: #660000;
}

.archive-title {
	font-size: 1.2em;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: .12em;
	color: #660000;
}

/* Google Map Styles ================================== */

/* Google Form Styles ================================== */

.google-form-wrapper {
  .error {
    color: red;
    font-size: 12px;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .success-msg {
    display: none;
  }
  .ss-form-entry {
    label {
      display:block;
    }
    input {
      display: block;
      padding: 5px;
      width: 250px;
      font: inherit;
    }
    textarea {
      width: 450px;
      padding: 5px;
      font: inherit;
    }
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }
}