<!-- Article Footer
======================================================= -->
<section class="well">
  <ul id="footnotes" class="nav">
    <li class="nav-header">Footnotes</li>     
		<ol class="post">
			{{ page.fn1 }}
			{{ page.fn2 }}
			{{ page.fn3 }}
			{{ page.fn4 }}
			{{ page.fn5 }}
			{{ page.fn6 }}
			{{ page.fn7 }}
			{{ page.fn8 }}
			{{ page.fn9 }}
			{{ page.fn10 }}
		</ol>
	</ul>
</section>

<section class="well">
	{% unless page.related_posts == false %} 
  <ul id="related-articles" class="nav">
    <li class="nav-header">Related Articles</li>     
    <li class="post">
		  {% if page.tags %}
				{% include post/tags.html %}
			{% endif %}
    </li>
		{% for post in site.related_posts limit:5 %}
  		<li><a href="{{ post.url }}">{{post.title }}</a></li>
		{% endfor %}
	</ul>
	{% endunless %}
</section>
                                                                                                                                                                                            