<!-- Article Header
======================================================= -->
{% unless page.no_header %}
<header class="row-fluid span12 page-header">

	{% if page.img1-m-lan %}
		{% include custom/sections/img1-lan.html %}
	{% endif %}
  
	{% if page.img1-m-por %}
		{% include custom/sections/img1-por.html %}
	{% endif %}

  <section id="{{ page.int1-fnref}}" class="span8 pull-right article-title">
    <h3 id="{{ page.int1-fnref}}" class="entry-title  article-title">
			#{{ page.number }} - {{ page.title }} {{ page.subtitle }}
		</h3>

    <h4 class="meta article-date-pub-and-tags">
      {% include post/date.html %}
				{% if updated %}
					{{ updated }}
				{% else %}
					{{ time }}
				{% endif %}
			{% include post/categories.html %} |
			{% include post/tags.html %}
    </h4>

		<h1 class="first-letter article-int">
		  <span class="{{ page.int1-class }}"><img src="{{ page.int1-letter }}" width="{{ page.int1-img-wd }}" height="{{ page.int1-img-ht}}"></span>
			<small><span class="first-line">{{ page.int1-lin1 }}</span> <span class="last-line">{{ page.int1-lin2 }}<sup class="footnote"><a href="#{{ page.int1-fn }}">[2]</a></sup></span></small>
		</h1>
	</section>

	<section>
    <ul class="pull-right pager">
      {% if page.previous.url %}
      <li class="previous btn"><a class="basic-alignment left"
        href="{{ page.previous.url }}" title="Previous Article:
        {{ page.previous.title }}">&laquo; Previous Article</a></li>
      {% endif %}

      {% if page.next.url %}
      <li class="next btn"><a class="basic-alignment right" href="{{ page.next.url }}"
        title="Next Article: {{ page.next.title }}">Next Article
        &raquo;</a></li>
      {% endif %}
   	</ul>
	</section>

</header>
{% endunless %}


