<div class="span4 columns">
  <ul class="thumbnails">
    <li>
      <div class="thumbnail">
				<img src="{{ page.img3-m-landscape }}" title="{{ page.img3-title }}" alt="{{ page.img3-alt }}"  width="{{ page.img3-m-wd-landscape }}" height="{{ page.img3-m-ht-landscape }}">
				<br />
				<p class="label">{{ page.img3-caption-label }}</p>
				<p><abbr class="type" title="{{ page.img3-caption-title }}.">{{ page.img3-caption-type }}</abbr> 
					{{ page.img3-caption-by }} 
					<cite>{{ page.img3-caption-name }}
						<sup id="{{ page.img3-caption-fnref }}" class="footnote">
							<a href="#{{ page.img3-caption-fn }}">
								{{ page.img3-caption-fns }}
							</a>
						</sup>
					</cite>
				</p>
      </div>
    </li>
  </ul>
</div>  
