<ul class="thumbnails">
  <li>
    <div class="thumbnail">
		<img src="{{ page.img2-m-por }}" title="{{ page.img2-title }}" alt="{{ page.img2-alt }}"  width="{{ page.img2-m-wd-por }}" height="{{ page.img2-m-ht-por }}">
		<br />
		<p class="label">{{ page.img2-cap-label }}</p>
		<p><abbr class="type" title="{{ page.img2-cap-title }}.">{{ page.img2-cap-type }}</abbr> 
			{{ page.img2-cap-by }} 
			<cite>{{ page.img2-cap-name }}
				<sup id="{{ page.img2-cap-fnref }}" class="footnote">
					<a href="#{{ page.img2-cap-fn }}">
						{{ page.img2-cap-fns }}
					</a>
				</sup>
			</cite>
		</p>
    </div>
  </li>
</ul>
