<!-- Article Navigation
======================================================= -->
<section id="tabs" class="article-nav">
  <div class="tabbable">
    <ul class="nav nav-pills">
      <li class="active">
				<a href="#1" data-toggle="tab">{{ page.title }}</a>
			</li>
      <li>
				<a href="#footnotes">Footnotes</a>
			</li>
      <li>{% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
				<a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">
					Comments
				</a>
				{% endif %}
			</li>
    </ul>
  </div>
</section>
