{% capture root_url %}
	{{ site.root | strip_slash }}
{% endcapture %}

{% include head.html %}

<body class="container-fluid"

	{% if page.body_id %}
		id="{{ page.body_id }}" 
	{% endif %} 
	
	{% if page.sidebar == false %}
		class="no-sidebar" 
	{% endif %} 
	
	{% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %}
		class="collapse-sidebar sidebar-footer" 
	{% endif %}

>

  <nav role="navigation" class="row-fluid">
		{% include navigation.html %}
	</nav>

	<header role="banner" class="row-fluid">
		{% include header.html %}
	</header>


		<div class="row-fluid">
			<div role="main" class="span12">
			  {{ content | expand_urls: root_url }}
			</div>
		</div>


  <footer role="contentinfo" class="row-fluid page-footer">
		<div class="span12">
			{% include footer.html %}
		</div>
	</footer>

  {% include after_footer.html %}

</body>

</html>
