{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

<!-- <script type="text/javascript">
  // Avoid conflict with ender.js.
  jQuery.noConflict();
</script> -->

<script src="{{ root_url }}/javascripts/custom/jquery-1.8.3.js"></script>
<script src="{{ root_url }}/javascripts/custom/bootstrap.min.js"></script>


<script src="{{ root_url }}/javascripts/custom/jquery_form.js"></script>

<script src="{{ root_url }}/javascripts/custom/jquery_validation.js"></script>
<script src="{{ root_url }}/javascripts/custom/google_form.js"></script>
