<!-- Custom Site Footer
======================================================= -->
<footer id="footer" class="footer navbar navbar-fixed-bottom hidden-phone">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav pull-right">
        <li><a href="/">Contact</a></li>
        <li><a href="/">Colophon</a></li>
        <li><a href="/about/copyright">&copy; {{ site.time | date: "1994-%Y" }}</a></li>
        <li><a href="/">Integrate Design Studio</a></li>
      </ul>
    </div>
  </div>
</footer>
