<!-- Custom Site Footer
======================================================= -->
<footer role="contentinfo" id="footer" class="footer navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div id="google_translate_element" class="container-fluid">
      <ul class="nav pull-right">
				<li><a href="{{ root_url }}/tags/author">Author</a></li>
        <li><a href="{{ root_url }}/articles/colophon">Colophon</a></li>
        <li><a href="{{ root_url }}/pages/contact">Contact</a></li>
        <li><a href="{{ root_url }}/articles/copyright">&copy; {{ site.time | date: "1994-%Y" }}</a></li>
      </ul>
    </div>
  </div>
</footer>
