<div class="pagination pagination-right">
  <ul>
    {% if paginator.previous_page %}
      
			{% if paginator.previous_page == 1 %}
        <li>
          <a href="/">&laquo; Previous Page</a>
        </li>
      {% else %}
        <li>
          <a href="{{paginator.previous_page}}">&laquo; Previous Page</a>
        </li>
      {% endif %}

    {% else %}
      <li class="disabled">
        <a href="#">&laquo; Previous Page</a>
      </li>
    {% endif %}

    {% if paginator.next_page %}
      <li>
        <a href="{{paginator.next_page}}">Next Page &raquo;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#">Next Page &raquo;</a>
      </li>
    {% endif %}
  </ul>
</div>
