<!-- Article Header
======================================================= -->
<section class="row-fluid">
	{% unless page.no_header %}
	<header class="span12 page-header">
		<div class="row-fluid">
			<div id="{{ page.img1-fnref}}" class="span4 pull-left article-image">
				<ul class="thumbnails">
				  <div class="thumbnail">
						{% if page.img1-m-lan %}
							{% include post/articles/imgs/img1-lan.html %}
						{% elsif page.img1-m-por %}
							{% include post/articles/imgs/img1-por.html %}
						{% endif %}
				    <br />
						<sup class="footnote pull-right">
					  	<a href="#{{ page.img1-fn }}">[1]</a>
					  </sup>
				  </div>
				</ul>
			</div>
			<div id="{{ page.int1-fnref }}" class="span8 pull-right">
		    <h4 id="{{ page.int1-fnref}}" class="accent">
					#{{ page.number }} &ndash; {{ page.title }} {{ page.subtitle }} &ndash;
		      <span class="small-date">{% include post/date.html %}
						{{ time }}
					{% if updated %}
						{{ updated }}
					{% endif %}</span>
		    </h4>
				<h4>
					{% include post/categories.html %} |
					{% include post/tags.html %}
				</h4>
				<h2 class="first-letter">
				  <span class="{{ page.int1-class }}"><img src="{{ page.int1-letter }}" width="{{ page.int1-img-wd }}" height="{{ page.int1-img-ht}}"></span>
					<small><span class="first-line">{{ page.int1-lin1 }}</span> <span class="last-line">{{ page.int1-lin2 }}<sup class="footnote"> <a href="#{{ page.int1-fn }}">[2]</a></sup></span></small>
				</h2>
				<br/>			
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
		    <ul class="nav nav-pills pull-right">
		      {% if page.previous.url %}
		      <li class="previous"><a class="basic-alignment left"
		        href="{{ page.previous.url }}" title="Previous Article:
		        {{ page.previous.title }}">&laquo; Previous Article</a></li>
		      {% endif %}

		      {% if page.next.url %}
		      <li class="next"><a class="basic-alignment right" href="{{ page.next.url }}"
		        title="Next Article: {{ page.next.title }}">Next Article
		        &raquo;</a></li>
		      {% endif %}
		   	</ul>
			</div>
		</div>
	</header>
	{% endunless %}
</secton>
