<!-- Article Nav-bar
======================================================= -->
<section class="row-fluid">
	<nav class="span12">
	  <ul class="nav nav-pills">
	    <li id="content"><a href="#content">Content</a></li>
		  <li><a href="#footnotes">Footnotes</a></li>
			<li><a href="#related-articles">Related Articles</a></li>
		  <li>{% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}<a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>{% endif %}</li>
  	</ul>
	</nav>
</section>
