<section class="well">
  <ul id="related-articles" class="nav nav-list">
    <li class="nav-header">Related Articles</li>
    <li class="divider"></li>
		{% for tag in page.tags %}
    <li class="nav-header">{{ tag }}</li>
	  	{% for post in site.posts reversed %}
	  		{% if post.tags contains tag %}
					{% if page.url == post.url %}
					{% else %}
					<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
					{% endif %}
			  {% endif %}
	  	{% endfor %}
 		{% endfor %}
	</ul>
</section>
