<!-- Article
======================================================= -->

<!-- Article Header
======================================================= -->

{% unless page.no_header %}
<header class="row-fluid span12 page-header">

	<section class="span4 pull-left article-image">
		<ul class="thumbnails">
			<li>
			  <div class="thumbnail">
					<img src="{{ page.img-m }}" alt="{{ page.img-alt }}" title="{{ page.img-title }}" width="{{ page.img-m-wd }}" height="{{ page.img-m-ht }}">
			    <br />
					<sup id="fnref:1.1" class="footnote pull-right">
				  	<a href="#fn:1.1">[1]</a>
				  </sup>
			  </div>
			</li>
		</ul>
	</section>

  <section class="span8 pull-right article-title">
    <h3 class="entry-title">
			<span>
				#{{ page.number }} - {{ page.title }}
			</span>
		</h3>

    <h4 class="meta article-date-pub-and-tags">
      {% include post/date.html %}
				{% if updated %}
					{{ updated }}
				{% else %}
					{{ time }}
				{% endif %} |
			{% include post/categories.html %}
    </h4>

		<h1 class="first article-intro">
		  <span class="{{ page.first-class }}"><img src="{{ page.cap-img }}" width="{{ page.cap-img-wd }}" height="{{ page.cap-img-ht }}"></span><small><span class="firstLine">{{ page.first-line }}</span> 
		  <span class="small">{{ page.second-line }}<sup id="fnref:1.2" class="footnote"><a href="#fn:1.2">[2]</a></sup></span></small>
		</h1>
	</section>

	<section>
    <ul class="pull-right pager">
      {% if page.previous.url %}
      <li class="previous"><a class="basic-alignment left"
        href="{{page.previous.url}}" title="Previous Post:
        {{page.previous.title}}">&laquo; Previous Article</a></li>
      {% endif %}

      {% if page.next.url %}
      <li class="next"><a class="basic-alignment right" href="{{page.next.url}}"
        title="Next Post: {{page.next.title}}">Next Article
        &raquo;</a></li>
      {% endif %}
   	</ul>
	</section>

</header>
{% endunless %}


<!-- Article Navigation
======================================================= -->
<section id="tabs" class="article-nav">
  <div class="tabbable">
    <ul class="nav nav-pills">
      <li class="active">
				<a href="#1" data-toggle="tab">
      		{{ page.title }}
				</a>
			</li>
      <li>
				<a href="#footnotes">
					Footnotes
				</a>
			</li>
      <li>{% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
				<a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">
					Comments
				</a>
				{% endif %}
			</li>
    </ul>
  </div>
</section>


<!-- Article Body
======================================================= -->

<section class="row-fluid">

  <div class="span4 columns">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
					<img src="{{ page.img-2-m-portrait }}" alt="{{ page.img-2-alt }}" title="{{ page.img-2-title }}" width="{{ page.img-2-m-wd-portrait }}" height="{{ page.img-2-m-ht-portrait }}">
					<br />
					{{ page.img-2-content }}
        </div>
      </li>
    </ul>
	</div>

  <div class="span4 columns">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
					<img src="{{ page.img-3-m-portrait }}" alt="{{ page.img-3-alt }}" title="{{ page.img-3-title }}" width="{{ page.img-3-m-wd-portrait }}" height="{{ page.img-3-m-ht-portrait }}">
					<br />
					{{ page.img-3-content }}
        </div>
      </li>
    </ul>
	</div>

  <div class="span4 columns">
		{{ page.para-1 }}
	</div>

</section>

<section class="row-fluid">
  <div class="span4 columns">
		{{ page.para-2 }}
	</div>
  <div class="span4 columns">
		{{ page.para-3 }}
	</div>
  <div class="span4 columns">
		{{ page.para-4 }}
	</div>
</section>

<br>

<aside class="row-fluid">
	<h3>{{ page.number-of-footnotes }} Footnotes</h3>
	<ol>
		{{ page.footnotes }}
	</ol>
</aside>

<br>