{% include article-header.html %}

<!-- Article Body Template - A -
======================================================= -->

<section id="row1" class="row-fluid">
  <div class="span4 columns">
		{{ page.para1 }}
	</div>
  <div class="span4 columns">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
					<img src="{{ page.img2-m-landscape }}" title="{{ page.img2-title }}" alt="{{ page.img2-alt }}"  width="{{ page.img2-m-wd-landscape }}" height="{{ page.img2-m-ht-landscape }}">
					<br />
					{{ page.img2-caption }}
        </div>
      </li>
    </ul>
	</div>  
	<div class="span4 columns">
		{{ page.para2 }}
	</div>
</section>

<section id="row2" class="row-fluid">
	<div class="span4 columns">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
					<img src="{{ page.img3-m-landscape }}" title="{{ page.img3-title }}" alt="{{ page.img3-alt }}"  width="{{ page.img3-m-wd-landscape }}" height="{{ page.img3-m-ht-landscape }}">
					<br />
					{{ page.img3-caption }}
        </div>
      </li>
    </ul>
	</div>
	<div class="span4 columns">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
					<img src="{{ page.img4-m-portrait }}" title="{{ page.img4-title }}" alt="{{ page.img4-alt }}"  width="{{ page.img4-m-wd-portrait }}" height="{{ page.img4-m-ht-portrait }}">
					<br />
					{{ page.img4-caption }}
        </div>
      </li>
    </ul>
	</div>
  <div class="span4 columns">
		{{ page.para3 }}
	</div>
</section>

{% include article-footer.html %}
