{% unless page.no_header %}
<header class="row-fluid span12 page-header">

	<section class="span4 pull-left article-image">
		<ul class="thumbnails">
			<li>
			  <div class="thumbnail">
			    <img src="http://placehold.it/300x225" alt="" title=""
			width="300" height="225" />
			    <br />
					<sup id="fnref:1.1" class="footnote pull-right">
				  	<a href="#fn:1.1">[1]</a>
				  </sup>
			  </div>
			</li>
		</ul>
	</section>

  <section class="span8 pull-right article-text">
    <h3 class="entry-title">
			<span>
				{% if index %}
				<a href="{{ root_url }}{{ post.url }}">
					{% if site.numbercase %}
						#{{ post.number | numbercase }} - 
					{% else %}
						#{{ post.number }} - 
					{% endif %}
				</a>
  			{% else %}

					{% if site.numbercase %}
						#{{ page.number | numbercase }} -
					{% else %}
						#{{ page.number }} - 
					{% endif %}
				{% endif %}
			</span>
  		
			<span>
  			{% if index %}
				<a href="{{ root_url }}{{ post.url }}">
					{% if site.titlecase %}
						{{ post.title | titlecase }}
					{% else %}
						{{ post.title }}
					{% endif %}
				</a>
 				{% else %}

					{% if site.titlecase %}
						{{ page.title | titlecase }}
					{% else %}
						{{ page.title }}
				{% endif %}
			{% endif %}
			</span>

  		<span>
				{% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
				<a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
   			{% endif %}
			</span>
		</h3>

    <h4 class="meta article-sub-title">
      {% include post/date.html %}
				{% if updated %}
					{{ updated }}
				{% else %}
					{{ time }}
				{% endif %} |
			{% include post/categories.html %}
    </h4>

    <div class="article-intro">
			<h1 class="first">
			  <span class="m">M</span><small><span class="firstLine">y story begins in 52 BC with Caesar&rsquo;s conquest of Gaul.</span> 
			  <span class="small">Going back in time any further seems a little silly.<sup id="fnref:1.2" class="footnote"><a href="#fn:1.2">[2]</a></sup></span></small>
			</h1>
			
			<h1 class="first">
			  <span class="i">I</span><small><span class="firstLine"> am standing here at the mouth of the Oude Rijn,</span> 
			  <span class="small">an ancient branch of the Rhine river that formed the northernmost boundary of the Roman Empire.<sup id="fnref:2.2" class="footnote"><a href="#fn:2.2">[2]</a></sup></span></small>
			</h1>
			
			<p>
				{% if index %}
				<a href="{{ root_url }}{{ post.url }}">
					{% if site.introcase %}
						{{ post.intro | introcase }}
					{% else %}
						{{ post.intro }}
					{% endif %}
			
  			{% else %}

					{% if site.introcase %}
						{{ page.intro | introcase }}
					{% else %}
						{{ page.intro }}
					{% endif %}
				{% endif %}
				<sup id="fnref:1.2" class="footnote">
		    	<a href="#fn:1.2">[2]</a>
		    </sup>
			</p>
    </div>

    <ul class="pull-right pager">
      {% if page.previous.url %}
      <li class="previous"><a class="basic-alignment left"
        href="{{page.previous.url}}" title="Previous Post:
        {{page.previous.title}}">&laquo; Previous Article</a></li>
      {% endif %}

      {% if page.next.url %}
      <li class="next"><a class="basic-alignment right" href="{{page.next.url}}"
        title="Next Post: {{page.next.title}}">Next Article
        &raquo;</a></li>
      {% endif %}
   	</ul>

	</section>

</header>
{% endunless %}


{% if index %}
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="entry-content">{{ content }}</div>
{% endif %}
