---
layout: page
footer: false
---

<div class="blog-archives">
  {% for post in paginator.posts %}  
  <article>
		{% include archive_post.html %}
  </article>
  {% endfor %}

	<div class="pagination pagination-right">
	  <ul>
	    {% if paginator.previous_page %}
	      
				{% if paginator.previous_page == 1 %}
	        <li>
	          <a href="/">&laquo; Previous</a>
	        </li>
	      {% else %}
	        <li>
	          <a href="{{paginator.previous_page}}">&laquo; Previous</a>
	        </li>
	      {% endif %}

	    {% else %}
	      <li class="disabled">
	        <a href="#">&laquo; Previous</a>
	      </li>
	    {% endif %}

	    {% if paginator.next_page %}
	      <li>
	        <a href="{{paginator.next_page}}">Next &raquo;</a>
	      </li>
	    {% else %}
	      <li class="disabled">
	        <a href="#">Next &raquo;</a>
	      </li>
	    {% endif %}
	  </ul>
	</div>
</div>

<br /><br />