/* ==============================================================================
		Typography
	   ==============================================================================*/

/* First letter of introduction */
.first { 
	text-indent: 0;
	margin: .5% .5% 0% .5%;
	padding: .5% .5% 0% .5%;
}

/* First line of introduction */
.firstLine {
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: .13em;
}

/* Last part of introduction */
.small {
	font-size: .9em;
}

/* First letter of Introduction is an image */
.a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n,
.o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
	width: 83px;
	height: 83px;
	display: block;
	float: left;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: top left;
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	}

.a { background: url("letters/letter_a.png"); }
.b { background: url("letters/letter_b.png"); }
.c { background: url("letters/letter_c.png"); }
.d { background: url("letters/letter_d.png"); }
.e { background: url("letters/letter_e.png"); }
.f { background: url("letters/letter_f.png"); }
.g { background: url("letters/letter_g.png"); }
.h { background: url("letters/letter_h.png"); }
.i { background: url("images/letters/letter_i.png"); }
.j { background: url("letters/letter_j.png"); }
.k { background: url("letters/letter_k.png"); }
.l { background: url("letters/letter_l.png"); }
.m { background: url("images/letters/letter_m.png"); }
.n { background: url("letters/letter_n.png"); }
.o { background: url("letters/letter_o.png"); }
.p { background: url("letters/letter_p.png"); }
.q { background: url("letters/letter_q.png"); }
.r { background: url("letters/letter_r.png"); }
.s { background: url("letters/letter_s.png"); }
.t { background: url("letters/letter_t.png"); }
.u { background: url("letters/letter_u.png"); }
.v { background: url("letters/letter_v.png"); }
.w { background: url("letters/letter_w.png"); }
.x { background: url("letters/letter_x.png"); }
.y { background: url("letters/letter_y.png"); }
.z { background: url("letters/letter_z.png"); }
